@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.header_catalog {
  background: #333;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .header-column {
}
.header-menu {
} */
.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-list li {
  margin: 0 40px 0 0;
}

.menu-list-link {
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.header-logo {
  margin-right: 20px;
}

.header-logo-img {
  margin-top: 25px;
}

.header-column:nth-child(2) {
  margin: 0 0 31px 0;
}

.header-column:nth-child(odd) {
  margin: 0;
}

.header-search-icon {
  margin: 0px 16px -4px 0px;
}

/* .header-serch-text .header-account {
}
.header-like {
}
 */
.footer {
  padding-top: 80px;
}

.footer_column {
  max-width: 255px;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  /* accent */
  color: #333333;
}

.footer_column_title {
  display: inline-block;
  width: 255px;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* accent */
  color: #333333;
}

.footer_list li {
  margin-bottom: 15px;
}

.footer_list li:last-child {
  margin-bottom: 0px;
}

.footer_list li .footer_link {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.pay_info_text {
  margin-bottom: 21px;
}

.pay_info_img {
  margin-right: 20px;
}

.pay_info_img:last-child {
  margin-right: 0;
}

.social_links_text {
  margin-bottom: 25px;
}

.social_links_link {
  vertical-align: middle;
  margin-right: 20px;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #333;
}

.list_icon {
  vertical-align: sub;
  margin-right: 20px;
}

.footer_bottom_text {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer_bottom_text a {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer_bottom_text a:last-child {
  text-decoration: underline;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Gilroy";
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section-intro {
  background: url(/img/intro-bg.png) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.intro__item {
  text-align: center;
}

.intro__item::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 15%;
  left: 0;
}

.intro-title {
  padding-top: 600px;
  margin-bottom: 65px;
  font-family: Noto Serif;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
}

.intro-btn {
  padding: 15px 35px;
  border: 1px solid #ffffff;
  margin: 0px 0px 95px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro-brands {
  margin-top: 145px;
}

.brands-img {
  padding: 0 10px;
  border-right: 1px solid #fff;
}

.brands-img-last {
  padding: 0 0 0 10px;
}

.section_event {
  padding: 100px 0px 120px 0px;
}

.suptitle_b {
  text-align: center;
  font-size: 21px;
  line-height: 140%;
  color: #333333;
}

.title_b {
  text-align: center;
  font-family: Noto Serif;
  font-size: 30px;
  line-height: 41px;
  color: #333333;
}

.suptitle_w {
  text-align: center;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
}

.title_w {
  text-align: center;
  font-family: Noto Serif;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
}

.product_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.product_list_link {
  display: block;
  width: 165px;
  height: 61px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #d6d6d6;
  padding-top: 17px;
  color: #333333;
}

.product_list_link:active {
  background: #333333;
  color: #ffffff;
}

.product_group {
  margin-top: 55px;
}

.product_group_item_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product_group_item_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_group_item_inner {
  position: relative;
  max-width: 350px;
}

.product_group_text {
  position: absolute;
  bottom: 30px;
  left: 30%;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product_group_text a {
  color: #ffffff;
}

.product_group_text_last_b {
  position: absolute;
  bottom: 30px;
  left: 39%;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product_group_text_last_b a {
  color: #ffffff;
}

.section_salon {
  padding: 100px 0px;
  background: url(/img/salon-bg.png);
  text-align: center;
}

.salon_text {
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  text-align: center;
  /* white */
  color: #ffffff;
  margin: 45px 0 60px 0;
}

.salon_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 15px 35px;
  /* accent */
  color: #333333;
}

.section_blog {
  padding: 120px 0;
  text-align: center;
}

.blog_item {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog_item_inner {
  max-width: 350px;
  position: relative;
}

.blog_link_text {
  display: inline-block;
  max-width: 200px;
  position: absolute;
  bottom: 35px;
  left: 20%;
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  /* or 29px */
  text-align: center;
  /* white */
  color: #ffffff;
}

.blog_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #333333;
  /* white */
  color: #ffffff;
}

.section_social {
  margin-bottom: 150px;
}

.social_item {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_item:last-child {
  margin-top: 0px;
}

.social_video {
  width: 555px;
  height: 300px;
  position: relative;
}

.social_img {
  width: 278px;
  height: 300px;
}

.social_video_img_play {
  position: absolute;
  top: 115px;
  left: 242px;
}

.section_newsletter {
  background: url(/img/salon-bg.png);
  padding: 100px 0 120px 0;
}

.subscribe_item {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .subscribe_list_block {
  max-width: 245px;
} */
.subscribe_list_img {
  margin-right: 20px;
}

.subscribe_list li {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  /* white */
  color: #ffffff;
}

.subscribe_form_block {
  /* max-width: 459px; */
  padding: 14px 15px;
  border: 1px solid #fff;
}

.subscribe_form {
  background: #fff;
  padding: 20px 22px;
}

.subscribe_form_field {
  padding: 15px 87px 14px 20px;
  border: 1px solid #d6d6d6;
}

.subscribe_form_field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.subscribe_form_field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.subscribe_form_field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.subscribe_form_field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.subscribe_form_btn {
  padding: 15px 35px 14px 35px;
  background: #333333;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section_article {
  padding-top: 100px;
  text-align: center;
}

.article_list {
  width: 160px;
  border-bottom: 1px solid #333;
  margin-right: 25px;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.article_list:last-child {
  margin-right: 0;
}

.article_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 95px 0 0 0;
  text-align: center;
}

.article_item:nth-child(2) {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 95px;
}

.article_type {
  margin: 25px 0 10px 0;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.article_name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* accent */
  color: #333333;
}

.article_price {
  padding: 10px 20px;
  background: #333;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
}

.article_more_btn {
  display: inline-block;
  padding: 15px 35px;
  margin-top: 95px;
  background: #333;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
}

.section_blog {
  padding: 150px 0;
  color: #333333;
}

.blog_text_block {
  max-width: 540px;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
}

.blog_text_block p {
  margin-bottom: 10px;
}

.blog_text_block a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px dashed #333;
  color: #333;
}

.blog_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.blog_info_item:last-child {
  margin: 0;
}

.blog_info_block {
  margin: 0 60px 30px 0;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;
  color: #000000;
}

.blog_info_block:last-child {
  margin: 0 60px 0 0;
}

.blog_info_block p {
  margin-top: 15px;
}

.blog_info_block p:first-child {
  margin-top: 30px;
}

.blog_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card_nav {
  margin: 60px 0 54px 0;
  text-align: center;
}

.card_nav .slash {
  font-size: 18px;
  line-height: 150%;
  margin: 0 15px;
}

.card_nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  /* accent */
  color: #333333;
  /*  &::after {
      content: "/";
      font-size: 18px;
      margin: 0 15px;
      text-decoration: none;
    }

    &:last-child::after{
      content: '';
    } */
}

.card_nav a:last-child {
  text-decoration: none;
}

.product_photo {
  margin-right: 30px;
  max-width: 540px;
}

.photo_big img {
  width: 540px;
  height: 430px;
}

.photo_small img {
  width: 160px;
  height: 120px;
  margin: 29px 26px 0 0;
}

.photo_small img:last-child {
  margin: 0;
}

.card_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desc {
  padding: 40px 30px 55px 30px;
  border: 1px solid #d6d6d6;
}

.desc_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* accent */
  color: #333333;
}

.desc_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #d6d6d6;
}

.desc_subtitle p {
  font-size: 14px;
  line-height: 150%;
  color: #979797;
}

.desc_subtitle span {
  margin: 0 15px;
}

.desc_text {
  margin: 30px 0;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.desc_btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #333333;
  margin-right: 30px;
  color: #333333;
}

.desc_btn:hover {
  background: #333;
  color: #fff;
}

.desc_btn:last-child {
  margin: 0;
}

.desc_bg {
  border: 1px solid #333;
  padding: 10px;
}

.rec_suptitle {
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
}

.rec_title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 95px;
  text-align: center;
  /* accent */
  color: #333333;
}

.rec_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section_rec {
  margin-bottom: 155px;
}

.blog_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 30px;
  color: #333333;
}
